
body{
    background-color: #EDC748;
    font-family: Arial, Helvetica;
    margin-left: 5rem;
}

section{
    padding-top: 1rem;
    width: 20rem;
    height: 6rem;
    border: 3px solid black;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 15px;
    margin: 2rem;
}

label{
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

input {
    background-color: rgba(43, 40, 44, 0.15);
    color: rgba(43, 40, 44, 1);
    padding: 0.5rem 1.5rem 0.5rem 1.5rem;
    border: none;
}

h1{
    font-weight: bold;
}

#andere {
    padding-top: 1rem;

}
nobr{
    padding-left: 1rem;
}

input[type="radio"] {
    display: none;
}

/* Custom radio button */
input[type="radio"] + nobr {
    position: relative;
    padding-left: 25px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #333;
}

/* Create a custom radio button */
input[type="radio"] + nobr:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 2px solid #2B282C;
    border-radius: 50%;
    background: #EDC748;
}

/* Custom radio button checked state */
input[type="radio"]:checked + nobr:before {
    border-color: #2B282C;
    background: #EDC748;
}

/* Inner circle for checked state */
input[type="radio"]:checked + nobr:after {
    content: '';
    position: absolute;
    left: 5px;
    top: 5px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #EDC748;
}

