<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FilmFinder - Letzte Veranstaltungen</title>
    <link rel="stylesheet" type="text/css" href="css/style.css"/>
</head>
<body>
<div class="container">
    <h1>Letzte Veranstaltungen</h1>
    <div class="events">
        <div class="result-item">
            <div class="details">
                <strong>Spider-Man</strong><br>
                12.6.2023 - 12:00 Uhr UTC +1 - Komplex 4 Raum 3
            </div>
            <div class="actions">
                <button>mehr Infos</button>
            </div>
        </div>
        <div class="result-item">
            <div class="details">
                <strong>Spider-Man</strong><br>
                15.6.2023 - 16:00 Uhr UTC +1 - Komplex 3 Raum 8
            </div>
            <div class="actions">
                <button>mehr Infos</button>
            </div>
        </div>
        <div class="result-item">
            <div class="details">
                <strong>Spider-Man</strong><br>
                29.6.2023 - 20:30 Uhr UTC +1 - Komplex 4 Raum 1
            </div>
            <div class="actions">
                <button>mehr Infos</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>